nats_url: "tls://nats.example.com:4222"
nats_nkey_seed: "NKEY SEED STRING HERE"
# fqdn: dev-host.example.com # will override detected fqdn
daemonize: true
gzip: true
interval_minutes: 10
jitter_seconds: 60
log_level: info

release_url: "RELEASE URL HERE"
monitors_dir: "./example_monitors"  # defaults to "/etc/cartographer/monitors.d"

yaml_files:
  - name: ansible_facts
    path: /etc/ansible-facts.yaml
json_commands:
  - name: teleport_nodes
    command: "/usr/local/bin/tctl nodes ls -v --format json"
    timeout: 10
